<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Daily</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <link th:href="@{main/css/styles.css}" rel="stylesheet" />
    <style>
        .box {
            overflow-y: scroll;
        }
        .box::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body id="page-top" class="box">
<!-- Navigation-->
<nav th:replace="fragments.html :: main-nav"></nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">데일리 맛집</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">맛집 로드뷰 및 데이터 시각화</p>
                <a class="btn btn-primary btn-xl" href="#services">서비스 소개</a>
<!--                <a sec:authorize="isAuthenticated()" class="btn btn-warning btn-xl" th:href="@{'/live-viewer'}">시작하기</a>-->
            </div>
        </div>
    </div>
</header>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">서비스 소개</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-map fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Cesium 지도 활용</h3>
                    <p class="text-muted mb-0">시각화 뷰어 제공</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-box fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">panorama viewer</h3>
                    <p class="text-muted mb-0">시각화 뷰어 제공</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-clipboard-data fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">데이터 취득 이력 관리</h3>
                    <p class="text-muted mb-0">이력 조회 및 비교 기능</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-crop fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">데이터 변환 제공</h3>
                    <p class="text-muted mb-0">obj to glb</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-1">
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" th:href="@{/main/images/photo1.jpg}" title="미정인 사진">
                    <img class="img-fluid" th:src="@{/main/images/photo1.jpg}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Cesium panorama create</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" th:href="@{/main/images/photo2.jpg}" title="미정인 사진">
                    <img class="img-fluid" th:src="@{/main/images/photo2.jpg}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Cesium panorama create</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" th:href="@{/main/images/photo4.jpg}" title="미정인 사진">
                    <img class="img-fluid" th:src="@{/main/images/photo4.jpg}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Cesium panorama create</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a class="portfolio-box" th:href="@{/main/images/photo3.jpg}" title="미정인 사진">
                    <img class="img-fluid" th:src="@{/main/images/photo3.jpg}" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-name">Cesium panorama create</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - DAILY</div></div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
<script th:src="@{main/js/scripts.js}"></script>
</body>
</html>