<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>회원가입</title>
  <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
  <link th:href="@{main/css/styles.css}" rel="stylesheet" />
  <link th:href="@{main/css/floating-labels.css}" rel="stylesheet" />
  <link th:href="@{main/css/login.css}" rel="stylesheet" />
</head>
<body class="text-center" style="background: linear-gradient(to bottom, rgb(61 66 70 / 80%) 0%, rgb(61 66 70 / 80%) 0%), url(/main/images/signup.jpg); height: 100%; background-position: center; background-size: cover;">
<nav th:replace="fragments.html :: main-nav"></nav>
<form class="form-signin needs-validation" th:object="${signUpForm}" action="#" th:action="@{/sign-up}" method="post" novalidate>
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal" style="color: white">Sign Up</h1>
  </div>
  <div class="form-floating">
    <input type="text" id="username" name="username"  class="form-control"
           placeholder="ID" pattern="[a-z0-9]{4,15}" required>
    <label for="username">ID</label>
    <div class="invalid-feedback">
      아이디는 영문자/숫자 조합 <br/>4글자 이상 15글자 이하여야 합니다.
    </div>
    <small class="form-text text-danger">ID Error</small>
  </div>

  <div class="form-floating">
    <input type="text" id="nickname" name="nickname" class="form-control"
           placeholder="Nickname" pattern="[가-힣ㄱ-ㅎa-zA-Z0-9._-]{2,8}" required>
    <label for="nickname">Nickname</label>
    <div class="invalid-feedback">
      닉네임은 두 글자 이상 <br/>여덟 글자 이하여야 합니다.
    </div>
    <small class="form-text text-danger">Nickname Error</small>
  </div>

  <div class="form-floating">
    <input type="password" id="inputPassword" name="password" class="form-control"
           placeholder="Password" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}" required>
    <label for="inputPassword">Password</label>
    <div class="invalid-feedback">
      비밀번호는 최소 8자 이상, 하나 이상의 <br/>문자, 숫자, 특수 문자를 포함해야 합니다.
    </div>
    <small class="form-text text-danger">Password Error</small>
  </div>

  <div class="form-floating">
    <input type="password" id="passwordConfirm" name="passwordConfirm" class="form-control"
           placeholder="Password Confirm" pattern="(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}" required>
    <label for="passwordConfirm">Password Confirm</label>
    <div class="invalid-feedback">
      비밀번호는 최소 8자 이상, 하나 이상의 <br/>문자, 숫자, 특수 문자를 포함해야 합니다.
    </div>
    <small class="form-text text-danger">Password Error</small>
  </div>

  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
</form>
<script th:replace="fragments.html :: form-validation"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
</body>
</html>